:root {
    --font: IBM Plex Sans, system-ui, sans-serif;
    --text-color: 255, 255, 255;
    --text-90: rgba(var(--text-color), 0.9);
    --text-75: rgba(var(--text-color), 0.75);
    --text-60: rgba(var(--text-color), 0.6);
    --text-40: rgba(var(--text-color), 0.4);
    --text-30: rgba(var(--text-color), 0.3);
    --text-20: rgba(var(--text-color), 0.2);
    --card-bg-border: hsla(0, 0%, 100%, 0.15);
    --border-radius: 5px;
    --btn-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), transparent);
    --separator: hsla(0, 0%, 100%, 0.1);
    --bg-white: #2c2c2c;
    --bg-black: #dbdbdb;
    --input-bg: hsla(0, 0%, 100%, 0.1);
    --input-border: hsla(0, 0%, 100%, 0.15);
    --blue: #0a7cce;
    --blue-light: #3296dd;
    --blue-dark: #10639e;
    --red: #d63946;
    --red-light: #e9535f;
    --red-dark: #ad2a35;
    --orange: #e49235;
    --pc-width: 960px
}

body {
    margin: 0;
    background: #2c2c2c;
    background: var(--bg-white);
    color: #dbdbdb;
    color: var(--bg-black);
    font-family: IBM Plex Sans, system-ui, sans-serif;
    font-family: var(--font);
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0
}

.noDisplay{
    visibility: hidden;
}

button {
    cursor: pointer;
    background: transparent;
    border: none
}

button, input {
    font-family: inherit
}

button:focus, input:focus {
    outline: none
}

#root {
    max-width: 960px;
    max-width: var(--pc-width);
    margin: 0 auto;
    height: 100%;
    position: relative
}

.nav-btn svg {
    fill: hsla(0, 0%, 100%, .6);
    fill: var(--text-60);
    height: 35px;
    width: 35px;
    display: block;
    margin: 0 auto
}

.nav-btn-active svg {
    fill: hsla(0, 0%, 100%, .9);
    fill: var(--text-90)
}

.app-header {
    padding: 15px;
    padding: 15px 0 15px 15px;
    display: grid;
    grid-template-columns:1fr 50px
}

.now-page .app-header {
    padding-right: 15px;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .15)
}

.app-title h1 {
    font-size: 1.4rem;
    color: hsla(0, 0%, 100%, .9);
    color: var(--text-90);
    font-weight: 500
}

.app-title h2 {
    font-size: 1.1rem;
    color: hsla(0, 0%, 100%, .6);
    color: var(--text-60);
    font-weight: 400
}

.icon-button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border-radius: var(--border-radius);
    transition: background-color .15s
}

.icon-button:hover {
    background: hsla(0, 0%, 100%, .15);
    background: var(--card-bg-border)
}

.icon-button svg {
    fill: hsla(0, 0%, 100%, .3);
    fill: var(--text-30);
    width: 35px;
    height: 35px;
    vertical-align: middle
}

.city-list-item .icon-button {
    height: 100%;
    width: 100%
}

.unit-switcher button {
    border-radius: 4px;
    border-radius: calc(var(--border-radius) - 1px);
    font-size: 1.1rem;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .75);
    color: var(--text-75);
    transition: background-color .15s
}

@-webkit-keyframes loader-animation {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes loader-animation {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.app-page {
    padding: 0 15px
}

.now-page-visual {
    z-index: 1
}

.now-page-visual, .weather-bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.weather-bg-gradient {
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0
}

.weather-bg-gradient.bg-gradient-clear_d {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/clear_d.svg);
    background-color: #0086e7
}

.weather-bg-gradient.bg-gradient-clear_n {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/clear_n.svg);
    background-color: #00243f
}

.weather-bg-gradient.bg-gradient-cl_d {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/cl_d.svg);
    background-color: #416e8e
}

.weather-bg-gradient.bg-gradient-cl_n {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/cl_n.svg);
    background-color: #1e2428
}

.weather-bg-gradient.bg-gradient-hcl_d {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/hcl_d.svg);
    background-color: #2d4755
}

.weather-bg-gradient.bg-gradient-hcl_n {
    background-image: url(../../inostudio-makarov/img/WeatherBgGradient/hcl_n.svg);
    background-color: #242b30
}

.weather-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 0
}

.weather-bg.bg-clouds_light {
    background-image: url(../../inostudio-makarov/img/WeatherBg/clouds_light.png)
}

.weather-bg.bg-clouds_med {
    background-image: url(../../inostudio-makarov/img/WeatherBg/clouds_med.png)
}

.weather-bg.bg-clouds_hi {
    background-image: url(../../inostudio-makarov/img/WeatherBg/clouds_hi.png)
}

.weather-bg.bg-rain_light {
    background-image: url(../../inostudio-makarov/img/WeatherBg/rain_light.png);
    background-repeat: repeat-y
}

.weather-bg.bg-rain_med {
    background-image: url(../../inostudio-makarov/img/WeatherBg/rain_med.png);
    background-repeat: repeat-y
}

.weather-bg.bg-rain_hi {
    background-image: url(../../inostudio-makarov/img/WeatherBg/rain_hi.png);
    background-repeat: repeat-y
}

.weather-bg.bg-snow_light {
    background-image: url(../../inostudio-makarov/img/WeatherBg/snow_light.png);
    background-size: cover
}

.weather-bg.bg-snow_med {
    background-image: url(../../inostudio-makarov/img/WeatherBg/snow_med.png);
    background-size: cover
}

.weather-bg.bg-snow_hi {
    background-image: url(../../inostudio-makarov/img/WeatherBg/snow_hi.png);
    background-size: cover
}

.weather-bg.bg-sleet {
    background-image: url(../../inostudio-makarov/img/WeatherBg/sleet.png);
    background-size: cover
}

.now-page-weather-data {
    position: fixed;
    bottom: 90px;
    max-width: 960px;
    max-width: var(--pc-width);
    width: 100%;
    z-index: 5;
    padding: 0 20px
}

.wdata-temp {
    font-size: 5rem;
    color: hsla(0, 0%, 100%, .9);
    color: var(--text-90);
    line-height: 100px;
    letter-spacing: -.2rem;
    font-weight: 300
}

.wdata-temp-units {
    color: hsla(0, 0%, 100%, .4);
    color: var(--text-40)
}

.wdata-temp .weather-icon {
    width: 100px;
    height: 100px;
    vertical-align: top;
    padding-right: 10px
}

.wdata-condition-text {
    font-size: 1.3rem;
    color: hsla(0, 0%, 100%, .75);
    color: var(--text-75);
    font-weight: 500;
    line-height: 2rem
}

.wdata-condition-feelsLike {
    font-size: 1.15rem;
    color: hsla(0, 0%, 100%, .6);
    color: var(--text-60);
    font-weight: 400
}

.wdata-facts {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
    padding-top: 15px
}

.wdata-facts .fact {
    color: hsla(0, 0%, 100%, .6);
    color: var(--text-60);
    font-size: 1.05rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.wdata-facts .fact svg {
    fill: hsla(0, 0%, 100%, .3);
    fill: var(--text-30);
    width: 30px;
    height: 30px;
    padding-bottom: 5px
}

.weather-icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}

.forecast-hour-item .weather-icon {
    width: 45px;
    height: 45px;
    -webkit-user-drag: none
}

@media screen and (max-width: 960px) {

    .settings-section .right-section {
        display: flex
    }

    .right-section button, .right-section input {
        flex-grow: 1
    }

    .icon-button:hover {
        background: transparent
    }

    .icon-button:active {
        background: hsla(0, 0%, 100%, .15);
        background: var(--card-bg-border)
    }
}

@media screen and (min-width: 960px) {
}

@-webkit-keyframes modal-dim-layer-fade {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes modal-dim-layer-fade {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes modal-zoom {
    0% {
        opacity: 0;
        transform: scale(1.1)
    }
    to {
        transform: none;
        opacity: 1
    }
}

@keyframes modal-zoom {
    0% {
        opacity: 0;
        transform: scale(1.1)
    }
    to {
        transform: none;
        opacity: 1
    }
}

a, [type="submit"] {
    transition: all 0.25s ease-in;
}
.signup__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    border-radius: 0.1875rem;
    box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
}
.signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}
.container__child {
    width: 50%;
    height: 100%;
    color: #fff;
}
.signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.thumbnail__logo, .thumbnail__content, .thumbnail__links {
    position: relative;
    z-index: 2;
}
.thumbnail__logo {
    align-self: flex-start;
}

.thumbnail__content {
    align-self: center;
}
h1, h2 {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.heading--primary {
    font-size: 1.999rem;
}
.heading--secondary {
    font-size: 1.414rem;
}
.thumbnail__links {
    align-self: flex-end;
    width: 100%;
}
.thumbnail__links a {
    font-size: 1rem;
    color: #fff;
}
.thumbnail__links a:focus, .thumbnail__links a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.signup__form {
    margin-bottom: auto;
    padding: 2.5rem;
    background: #fafafa;
}
label {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #ccc;
}
.form-control {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: .0625rem solid #ccc;
    border-radius: .25rem;
}
.form-control:focus {
    border-color: #111;
}
[type="text"] {
    color: #111;
}
[type="password"] {
    color: #111;
}
.btn--form {
    padding: 0.5rem 2.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: 2.1875rem;
}
.btn--form:focus, .btn--form:hover {
    background: #323232;
}

.form-group {
    margin-bottom: 15px;
}
.select,
.chosen-select,
.chosen-select-no-single,
.chosen-select-no-results,
.chosen-select-deselect,
.chosen-select-rtl,
.chosen-select-width {
    width: 320px;
}

